<!-- 
    <nav class="navbar navbar-expand-lg bg-light w-75">
        <div class="container-fluid">
                <p class="navbar-brand">Buscar</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <p>😊</p>
        </div>
    </nav>
    <app-menu class="h-99 d-inline-block position-absolute top-50 start-0 translate-middle-y  d-flex justify-content-center" [opciones]="opciones" colorfondo="bg-danger" (presionopcion)="presion($event)">
    </app-menu> -->
   <app-barra-lateral></app-barra-lateral>
    <!-- <router-outlet></router-outlet> -->